* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: hsl(210, 46%, 95%);
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  margin: auto;
}

.card {
  background-color: #fff;
  margin: 0 1em;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  

  .drawer {
    // display: block;
    // object-fit: fill;
    width: 100%;
  }

  &__info {
    padding: 2em 2.8em;

    &--one {
      color: hsl(217, 19%, 35%);
      font-weight: 700;
      line-height: 1.8rem;
    }

    &--two {
      color: hsl(214, 17%, 51%);
      margin-top: 1em;
      font-size: 0.8rem;
      line-height: 1.5rem;
    }

    .social, .social-icons {
      max-height: 200px;
      margin-top: 2em;
      display: flex;
      justify-content: left;
      align-items: center;

      &__avatar {
        border-radius: 50%;
        width: 45px;
        height: 45px;
      }

      &__texts {
        font-size: .8rem;
      }

      &__btn {
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 375px) {
  .card {
    flex-direction: column;
  }
}
