* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
  font-family: "Manrope", sans-serif;
}

body {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  margin: auto;
}

.card {
  margin: 0 1em;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid red;

  .drawer {
    // display: block;
    object-fit: fill;
    width: 100%;
  }

  &__info {
    padding: 2.2em;

    &--one {
      color: hsl(217, 19%, 35%);
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }

    &--two {
      color: hsl(214, 17%, 51%);
      margin-top: 1.5em;
    }
  }
}

@media (max-width: 375px) {
  .card {
    flex-direction: column;
  }
}
